@media screen and (max-width: 767px) {
  .flipTimebox .flip-clock-wrapper ul {
    height: 40px;
    line-height: 40px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    line-height: 40px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div.up:after {
    top: 19px;
  }
  .flipTimebox .flip-clock-divider {
    height: 40px;
  }
  .flipTimebox .flip-clock-dot {
    height: 5px;
    width: 5px;
    left: 5px;
  }
  .flipTimebox .flip-clock-dot.top {
    top: 14px;
  }
  .flipTimebox .flip-clock-dot.bottom {
    bottom: 7px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -48px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -52px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -58px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -59px;
  }
  .flipTimebox .flip-clock-wrapper ul {
    width: 32px;
    margin: 1px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 32px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 568px) {
  .flipTimebox .flip-clock-wrapper ul {
    margin: 1px;
  }
  .flipTimebox .flip-clock-divider {
    width: 4px;
  }
  .flipTimebox .flip-clock-dot {
    height: 4px;
    width: 4px;
    left: 0;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -48px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -52px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -58px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -59px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 480px) {
  .flipTimemodulesboxes {
    padding: 0;
  }
  .flipTimebox .flip-clock-divider .flip-clock-label {
    font-size: 0.9em;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -28px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -32px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -38px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -40px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 24px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 12px !important;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 24px;
    background-color: transparent;
    box-shadow: none;
    margin-left: -6px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 26px;
  }
  .flipTimebox .flip-clock-dot {
    margin-left: -8px;
  }
  .flipTimebox {
    margin: 40px 0 80px 15px;
  }
}

@media screen and (max-width: 360px) {
  .flipTimebox .flip-clock-divider .flip-clock-label {
    font-size: 0.8em;
    width: 2px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -1px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: 1px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: 5px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: 8px;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 22px;
    margin-left: -12px;
  }
  .flipTimebox .flip-clock-wrapper {
    padding-left: 4px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 22px;
  }
  .flipTimebox .flip-clock-dot {
    margin-left: -14px;
  }
  .flipTimebox {
    margin: 40px 0 80px 15px;
  }
}

@media screen and (max-width: 320px) {
  .flipTimebox .flip-clock-wrapper {
    padding-left: 4px;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 20px;
    margin-left: -14px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 20px;
  }
  .flipTimebox .flip-clock-dot {
    margin-left: -16px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: 2px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: 5px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: 9px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: 12px;
  }
}

.flip-clock-wrapper {
  margin: 2em !important;
}

.flip-clock-divider .flip-clock-label {
  color: white !important;
  font-size: 12px !important;
  font-weight: bold !important;
  font-family: Sofia Sans Condensed !important;
}
